<div class="container">
    
<div class="event" id="event_3">
    <div class="event-date">3 февраля</div>
    <a href="#">Лаппеенрата</a>
    <div class="event-row"><b>Гид: </b>Шипова Ирина Михайловна</div>
    <div class="event-row"><b>Даты отправления и прибытия: </b>03.12.2011 г. — 03.12.2012 г.</div>
    <div class="event-row"><b>Продолжительность: </b>один день</div>
    <div class="event-row"><b>Стоимость: </b>1200 руб.</div>
</div>
<div class="event" id="event_14">Событие 14</div>
<div class="event" id="event_16">Событие 16</div>
<div class="event" id="event_21">Событие 21</div>
<div class="event" id="event_24">Событие 24</div>
<div class="event" id="event_26">Событие 26</div>
<div class="event" id="event_29">Событие 29</div>
    
    
<div class="wrap-content">

    <div id="content_top" class="clearfix">

        <div id="searching">
        <div class="search-tabs" id="search_tabs">
            <a href="#" class="tab active" id="tour">Поиск тура</a>
            <a href="#" class="tab" id="hotel">Поиск гостиницы</a>
            <a href="#" class="tab" id="restaurant">Поиск ресторана</a>
        </div>
        <div class="search-panel">
            <div id="content_tour" class="search-content">
                <form action="">
                <table class="search-tour">
                    <tr>
                        <td colspan="2">
                            <label for="tour_way">Направление</label><br />
                            <input type="text" name="tour_way" id="tour_way" placeholder="Введите направление" />
                            <div id="select_way">
                                <div class="way-option">1</div>
                                <div class="way-option">2</div>
                                <div class="way-option">3</div>
                                <div class="way-option">4</div>
                                <div class="way-option">5</div>
                                <div class="way-option">6</div>
                                <div class="way-option">7</div>
                                <div class="way-option">8</div>
                                <div class="way-option">9</div>
                                <div class="way-option">10</div>
                            </div>
                        </td>
                        <td>
                            <label for="tour_coming">Приезд</label><br />
                            <input type="text" name="tour_coming" id="tour_coming" />
<!--                                    <button type="button" class="btn-calendar"></button>-->
                        </td>
                        <td>
                            <label for="tour_leaving">Отъезд</label><br />
                            <input type="text" name="tour_leaving" id="tour_leaving" />
<!--                                    <button type="button" class="btn-calendar"></button>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="tour_adults">Взрослые</label><br />
                            <input type="text" name="tour_adults" id="tour_adults" />
                            <button type="button" class="btn-select"><img src="assets/btn-select-arrow.png" alt="" /></button>
                        </td>
                        <td>
                            <label for="tour_children">Дети</label><br />
                            <input type="text" name="tour_children" id="tour_children" />
                            <button type="button" class="btn-select"><img src="assets/btn-select-arrow.png" alt="" /></button>
                        </td>
                        <td colspan="2">
                            <label for="tour_price_to">Цена до</label><br />
                            <input type="text" name="tour_price_to" id="tour_price_to" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="td-tour-submit"><input type="submit" class="btn-submit" value="Искать" /></td>
                    </tr>
                </table>
                </form>
            </div>
            <div id="content_hotel" class="search-content" style="display: none">
                hotel
            </div>
            <div id="content_restaurant" class="search-content" style="display: none">
                restaurant
            </div>
        </div>
    </div>

    </div> <!-- content_top -->

    <div class="content clearfix">

    <h1 class="slogan">3DPeterburg — ваш гид и сервис онлайн-бронирования</h1>

    <div class="tours from-piter" id="tour_from_piter">
        <div class="tours-header"><img src="assets/from-piter.png" alt="img" />Из Петербурга</div>
        <div class="tours-header-bottom">03.02.2012, Пятница</div>
        <table>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Хельсинки</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">07:30 — 23:00</td>
                <td class="td-city">Лаппеенранта</td>
                <td class="td-price">850 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Лаппеенранта</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Иматра</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Финляндия за час</td>
                <td class="td-price">750 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Хельсинки</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Лаппеенранта</td>
                <td class="td-price">900 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Хамина + Котка</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Хамина + Котка</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
            <tr>
                <td class="td-date">23:00 — 04.02, 23:00</td>
                <td class="td-city">Хамина + Котка</td>
                <td class="td-price">1200 руб.</td>
                <td class="td-description"><a href="#">Оформить заявку</a></td>
            </tr>
        </table>
        <div class="align-right"><a href="#">Все предложения</a></div>
    </div>

    <div class="tours in-piter" id="tour_in_piter">
        <div class="tours-header"><img src="assets/in-piter.png" alt="img" />В Петербург</div>

        <div class="place">
            <div class="place-header">Гостиницы Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">Мотель &laquo;Вояж&raquo;</td>
                    <td class="td-content">Скидка 20% на двухместные номера до 1 марта</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все гостиницы</a></div>
        </div>

        <div class="place">
            <div class="place-header">Рестораны и банкетные залы</div>
            <table>
                <tr>
                    <td class="td-place">Ресторан &laquo;Самсон&raquo;</td>
                    <td class="td-content">Ланч всего за 160 рублей!</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
                <tr>
                    <td class="td-place">Кафе &laquo;Первое, второе и компот&raquo;</td>
                    <td class="td-content">Скидка 10% при заказе блюда дня</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все рестораны и банкетные залы</a></div>
        </div>

        <div class="place">
            <div class="place-header">Клубы Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">&laquo;BLACKOUT&raquo;</td>
                    <td class="td-content">Пенная вечеринка 1 марта, девушкам вход свободный!</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
                <tr>
                    <td class="td-place">&laquo;ГлавClub&raquo;</td>
                    <td class="td-content">Фестиваль &laquo;ГлавBeat&raquo; 4 марта</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все клубы</a></div>
        </div>

        <div class="place">
            <div class="place-header">Сауны Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">Сауна &laquo;На Репищева&raquo;</td>
                    <td class="td-content">Широкая Масленица. Блины в подарок!</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все сауны</a></div>
        </div>

        <div class="place">
            <div class="place-header">Красоты Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">Музей Артиллерии</td>
                    <td class="td-content">Выставка «Гений да Винчи» продлена до 01.03</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все красоты</a></div>
        </div>

        <div class="place">
            <div class="place-header">Театры Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">Городские театры</td>
                    <td class="td-content">С 9 по 12 февраля билеты в театр на спектакли 14 февраля всего за 10 рублей. Два билета в одни руки, предложение ограничено.</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все театры</a></div>
        </div>

        <div class="place">
            <div class="place-header">Музеи Петербурга</div>
            <table>
                <tr>
                    <td class="td-place">Музей Артиллерии</td>
                    <td class="td-content">Выставка «Гений да Винчи» продлена до 01.03</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все музеи</a></div>
        </div>

        <div class="place">
            <div class="place-header">3D-авто в Петербурге</div>
            <table>
                <tr>
                    <td class="td-place">Автосалон</td>
                    <td class="td-content">Презентация в честь выхода новой модели Cadillac CTS</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все 3D-авто</a></div>
        </div>

        <div class="place">
            <div class="place-header">Разное</div>
            <table>
                <tr>
                    <td class="td-place">ДЦ &laquo;Кристалл&raquo;</td>
                    <td class="td-content">Стоимость аренды офисов на 2ом этаже стала дешевле на 15%</td>
                    <td class="td-more"><a href="#">Подробнее</a></td>
                </tr>
            </table>
            <div class="align-right"><a href="#">Все категории</a></div>
        </div>

    </div>
    
    </div> <!-- content -->

</div> <!-- wrap-content -->

<div class="rightcol">
    <div class="right-block manager" id="manager">
        <h1>Проконсультироваться</h1>
        <img src="assets/ava-manager.jpg" alt="img" class="ava-manager" />
        <div class="contact">
            <img src="assets/icon-phone.png" alt="img phone" />
            <span>(812) 920-26-91</span>
        </div>
        <div class="contact skype">
            <img src="assets/icon-skype.png" alt="img skype" />
            <span>web-studium</span>
        </div>
        <div class="contact mail">
            <img src="assets/icon-mail.png" alt="img mail" />
            <span><a href="mailto:5@3dpeterburg.ru">5@3dpeterburg.ru</a></span>
        </div>
        <div class="clear"></div>
        <p>
            Анастасия ответит на Ваши вопросы <br /> c 9:00 до 19:00 <br /><br />
            <a href="#">Адреса офисов в Санкт-Петербурге</a>
        </p>
    </div>

    <div class="right-block tours-from-piter" id="right_tours">
        <h1>Туры из Петербурга</h1>
        <table>
            <tr>
                <td class="td-left-col">
                    <a href="#">Австрия</a>
                    <a href="#">Бразилия</a>
                    <a href="#">Италия</a>
                    <a href="#">Германия</a>
                    <a href="#">Свадебные туры</a>
                    <a href="#">Чехия</a>
                    <a href="#">Швейцария</a>
                </td>
                <td class="td-hr"></td>
                <td class="td-right-col">
                    <a href="#">Аргентина</a>
                    <a href="#">Вьетнам</a>
                    <a href="#">Индия</a>
                    <a href="#">Оман</a>
                    <a href="#">Финляндия</a>
                    <a href="#">Чили</a>
                    <a href="#">Эстония</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="right-block map">
        <a href="#">&nbsp;</a>
        <div class="map-descr">Карта достопримечательностей Санкт-Петербурга в 3D</div>
    </div>

    <h1 class="cln-header">Календарь событий</h1>

    <div class="right-block calendar">
        <div id="calendar"></div>
    </div>

    <div class="right-list news-for-turist">
        <h1>Новости для туристов</h1>
        <div class="news"><span class="news-date">16.01</span><a href="#">Отказ о выдаче шенгенской визы</a></div>
        <div class="news"><span class="news-date">09.12</span><a href="#">Только для женщин</a></div>
        <div class="news"><span class="news-date">05.12</span><a href="#">Рождество приближается</a></div>
        <div class="news"><span class="news-date">02.12</span><a href="#">Полярная рапсодия</a></div>
        <div class="news"><span class="news-date">25.11</span><a href="#">Шопинг в Финляндии</a></div>
        <div class="news"><span class="news-date">21.11</span><a href="#">Графика и современность</a></div>
        <div class="news"><span class="news-date">21.11</span><a href="#">Автотуризм</a></div>
        <div class="all-news"><a href="#">Все новости</a></div>
    </div>

    <div class="right-block subscribe">
        <h1>Оформить подписку на новости</h1>
        <form action="">
            <input type="text" name="subscribe_mail" placeholder="Введите свой адрес email" /><br />
            <div class="align-right">
                <button type="submit" class="btn-submit">Подписаться</button>
            </div>
        </form>
    </div>

    <div class="right-list guide-piter">
        <h1>Путеводитель по Санкт-Петербургу</h1>
        <div class="news"><span class="news-date">16.01</span><a href="#">Наш маленький Монпарнас</a></div>
        <div class="news"><span class="news-date">09.12</span><a href="#">С детьми на каникулы</a></div>
        <div class="news"><span class="news-date">05.12</span><a href="#">38 способов встречи Нового года</a></div>
        <div class="news"><span class="news-date">02.12</span><a href="#">Кулинарная философия</a></div>
        <div class="news"><span class="news-date">25.11</span><a href="#">Под крышей дома твоего</a></div>
        <div class="news"><span class="news-date">21.11</span><a href="#">Wi-Fi или Санкт-Петербург 2.0</a></div>
        <div class="news"><span class="news-date">21.11</span><a href="#">Автотуризм. Часть 2</a></div>
        <div class="all-news"><a href="#">Все маршруты</a></div>
    </div>
</div> <!-- rightcol -->
    
</div> <!-- container -->